http:
  routers:
    # Create a dynamic router for each demo app service pattern
    demo-app-services:
      rule: "HostRegexp(`{service:[0-9]+}-demo-app-service.{{ domain_full }}`)"
      service: "bridge-service"
      entryPoints:
        - "web"

  services:
    # Specify the service backend - forwards to the appropriate demo-app-service-traefik container
    bridge-service:
      loadBalancer:
        servers:
          - url: "http://{{ "{{" }}.service{{ "}}" }}-demo-app-service-traefik:80"
      passHostHeader: true 