shortcut() {
    # Define colors
    RED='\033[1;31m'
    GREEN='\033[1;32m'
    BLUE='\033[1;34m'
    CYAN='\033[1;36m'
    RESET='\033[0m'

    echo -e "${BLUE}Systemd Aliases:${RESET}"
    echo -e "  ${GREEN}jctl [unit]${RESET}      - ${CYAN}Show last 100 logs for a unit${RESET}"
    echo -e "  ${GREEN}sc-start [unit]${RESET}  - ${CYAN}Start a systemd service${RESET}"
    echo -e "  ${GREEN}sc-stop [unit]${RESET}   - ${CYAN}Stop a systemd service${RESET}"
    echo -e "  ${GREEN}sc-restart [unit]${RESET} - ${CYAN}Restart a systemd service${RESET}"
    echo -e "  ${GREEN}sc-reload [unit]${RESET} - ${CYAN}Reload a systemd service${RESET}"
    echo -e "  ${GREEN}sc-enable [unit]${RESET} - ${CYAN}Enable a systemd service${RESET}"
    echo -e "  ${GREEN}sc-disable [unit]${RESET} - ${CYAN}Disable a systemd service${RESET}"
    echo -e "  ${GREEN}sc-status [unit]${RESET} - ${CYAN}Show status of a systemd service${RESET}"
    echo -e "  ${GREEN}sc-log [unit]${RESET}    - ${CYAN}Show logs for a systemd service${RESET}"
    echo -e "  ${GREEN}sc-list${RESET}          - ${CYAN}List active systemd services${RESET}"
    echo -e "  ${GREEN}sc-list-all${RESET}      - ${CYAN}List all systemd services${RESET}"
    echo -e "  ${GREEN}sc-list-failed${RESET}   - ${CYAN}List failed systemd services${RESET}"
    echo -e "  ${GREEN}sc-dr${RESET}            - ${CYAN}Reload systemd daemon${RESET}"
}

alias jctl='journalctl -n 100 -u'
alias sc-start='sudo systemctl start'
alias sc-stop='sudo systemctl stop'
alias sc-restart='sudo systemctl restart'
alias sc-reload='sudo systemctl reload'
alias sc-enable='sudo systemctl enable'
alias sc-disable='sudo systemctl disable'
alias sc-status='systemctl status'
alias sc-log='journalctl -u'

alias sc-list='systemctl list-units --type=service'
alias sc-list-all='systemctl list-units --all --type=service'
alias sc-list-failed='systemctl list-units --failed --type=service'
alias sc-dr='sudo systemctl daemon-reload' 