version: '3.8'

services:
  frontend:
    build: ./frontend
    labels:
      - "traefik.enable=true"
      # Direct access from bridge Traefik
      - "traefik.http.routers.bridge-frontend-{{ service_number }}.rule=Host(`{{ service_name }}.tafu.casa`) && Path(`/`)"
      - "traefik.http.services.bridge-frontend-{{ service_number }}.loadbalancer.server.port=9000"
      - "traefik.docker.network=bridge-network"
    networks:
      - web
      - bridge-network

  backend:
    build: ./backend
    labels:
      - "traefik.enable=true"
      # Direct access from bridge Traefik
      - "traefik.http.routers.bridge-backend-{{ service_number }}.rule=Host(`{{ service_name }}.tafu.casa`) && PathPrefix(`/api`)"
      - "traefik.http.services.bridge-backend-{{ service_number }}.loadbalancer.server.port=9001"
      - "traefik.docker.network=bridge-network"
    networks:
      - web
      - bridge-network

  traefik:
    image: traefik:v2.10
    command:
      - "--log.level=DEBUG"
      - "--accesslog=true"
      - "--accesslog.filepath=/dev/stdout"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=web"
      - "--ping=true"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.demo-app-{{ service_number }}.rule=Host(`{{ service_name }}.tafu.casa`)"
      - "traefik.http.services.demo-app-{{ service_number }}.loadbalancer.server.port=80"
      - "traefik.docker.network=bridge-network"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
    networks:
      - web
      - bridge-network

networks:
  web:
    name: web-{{ service_number }}
    driver: bridge
    internal: true
  bridge-network:
    name: bridge-network
    external: true 